.header, .navbar {
    height: 75px;
    z-index: 3;
}
    
main {
    margin: 25px 0px 0px 0px !important;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100 {
    width: 100% !important;
}

.inline-block {
    display: inline-block;
}

.part {
    display: flex;
    flex-wrap: wrap;
}

.carousel {
    transition-duration: 0.5s;
    filter: saturate(80%);
}

.carousel:hover {
    filter: saturate(140%);
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.experiences > .card {
    flex: 1;
    padding: 10px 20px;
    min-width: 250px;
    max-width: 500px;
}

.card > h6 {
    margin: -5px 0px;
    font-size: 12px;
}

h3 {
    padding: 4px 30px 4px 30px;
    margin: 20px 0px !important;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills > .progress {
    flex: 1;
    min-width: 300px;
    height: 40px;
}

.progress-bar {
    font-size: 18px;
    font-weight: bold;
}

.personalia {
    margin-bottom: 20px !important;
}

@media only screen and (max-width: 767px) {
    .part {
        text-align: center;
    }

    .academics, .personalia {
        width: 100%;
    }

    h3 {
        margin-left: 0px;
    }
}